<!DOCTYPE html>
<html>
<head>
<title>Map Creator</title>
</head>
<!--<body>

{% if username %}
Welcome {{username}}        <a href="/logout">Logout</a> | <a href="/newpost">New Post</a><p>
{% else %}
You are not logged in!        <a href="/login">Login</a> | <a href="/signup">Sign Up</a><p>
{% endif %}

<h1>Map Creator</h1>

{% for post in myposts %}
<h2><a href="/post/{{post['permalink']}}">{{post['title']}}</a></h2>
Posted {{post['date']}} <i>By {{post['author']}}</i><br>
Comments:
<a href="/post/{{post['permalink']}}">{{post['comments']|length}}</a>
<hr>
{% autoescape false %}
{{post['body']}}
{% endautoescape %}
<p>
<p>
<em>Filed Under</em>:
{% for tag in post.tags %}
    {% if loop.first %}
        <a href="/tag/{{tag}}">{{tag}}</a>
    {% else %}
        , <a href="/tag/{{tag}}">{{tag}}</a>
    {% endif %}
{% endfor %}
{% endfor %}
<p>
</body>-->
    <head>
        <title>File Import</title>
    </head>
    <body>
        <form enctype="multipart/form-data" action="post_upload.php" method="POST">
            <input type="file" name="file[]" multiple />
            <?php print_r($_FILES['file']['tmp_name']); ?>
        </form>
    </body>
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="my_file[]" multiple>
            <input type="submit" value="Import">
        </form>
        <?php
            if (isset($_FILES['my_file'])) {
                $myFile = $_FILES['my_file'];
                $fileCount = count($myFile["name"]);

                for ($i = 0; $i < $fileCount; $i++) {
                    ?>
                        <p>File #<?= $i+1 ?>:</p>
                        <p>
                            Name: <?= $myFile["name"][$i] ?><br>
                            Temporary file: <?= $myFile["tmp_name"][$i] ?><br>
                            Type: <?= $myFile["type"][$i] ?><br>
                            Size: <?= $myFile["size"][$i] ?><br>
                            Error: <?= $myFile["error"][$i] ?><br>
                        </p>
                    <?php
                }
            }
        ?>
    </body>
</html>


